# Ignore node_modules directory
node_modules/

# Ignore log files
logs/
*.log
npm-debug.log*

# Ignore environment variable files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Ignore build output directories
dist/
build/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore IDE/editor configuration files
*.vscode/
*.idea/
